* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #4caf50;  
    color: white;
    padding: 20px 30px;
}


nav a {
    text-decoration: none;
    color: white;
    

}

nav a:hover {
    color:gold

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

body {
    background-color: whitesmoke;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 30px;
    margin: 100px;
}

section {
    display: none;
}

section.active {
    display: block;
}